<header>
    <div>
        <h1 class="title">Moviefy</h1>
        <div class="search-bar">
            <i id = 'search' class="fa fa-search search-icon"><a href="review"></a></i>
            <input id = "button" type="text" placeholder="Search your favorite movie" autofocus="autofocus" class="movie-name"/>
            <button><a href="profile">Settings</a></button>
        </div>
    </div>
</header>