<div style = "display:inline-block;width: 250px;height:300px;margin: 5px;text-align:center;font-size: 20px;">
    <img src = "<%- movie.url %>" alt = "<%- movie.title %>" style = "width: 250px;" />
    <p style = "cursor:pointer;text-align:center;text-overflow:ellipsis;line-height: 1.5em;
height: 3em;"><strong><a href = "/movie/<%- movie.id %>" style="text-decoration:none" target ="_blank"><%- movie.title %></a></strong></p>
</div>