<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup to Moviefy</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="welcome">
        <h1>WELCOME TO MOVIEFY</h1>
    </div>
    <h3 class="headers">Set up an account to proceed</h3>
    <div class="signup_form">
        <form action="#" class="form_tag">
            <label for="name" style="margin:10px;"><strong>Enter your Name</strong></label><br>
            <input type="text" name="name" style="margin:10px;"><br>
            <label for="email" style="margin:10px;"><strong>Enter your valid email-id</strong></label><br>
            <input type="email" name="email" style="margin:10px;"><br>
            <label for="pword" style="margin:10px;"><strong>Set up a secure password</strong></label><br>
            <input type="password" name="pword" style="margin:10px;"><br>
            <label for="date" style="margin:10px;"><strong>Enter your DoB</strong></label><br>
            <input type="date" name="date" id="date" style="margin:10px;"><br>
            <label for="gender" style="margin:10px;"><strong>Select your Gender</strong></label><br>
            <select name="gender" id="gender" style="margin:10px;">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Others</option>
            </select><br>
            <input type="submit" value="Sign Up" style="margin:10px;font-weight: bold">
            <button style="margin:10px;"><strong>Sign In Instead</strong></button>
        </form>
    </div>
</body>
</html>